'''
 This file is updated manually to keep track of the packages that I installed manually
 Advantage: You don't see the dependencies this way
 Disadvantage: This document requires manual updates
'''

# These don't need to be included in the distribution package
pylint==2.2.2

# for documentation
sphinx==1.8.3

# these are required (but blender already ships with numpy?)
numpy==1.15.0
pandas==0.24.0
xlrd==1.2.0
xlwt==1.3.0

# for remote debugging:
ptvsd==4.2.2
Flask==1.0.2
requests==2.21.0

# cloud database - using javascript instead
firebase-admin==2.15.1 # installed about 16 packages
    cachecontrol-0.12.5 cachetools-3.1.0 firebase-admin-2.15.1
    google-api-core-1.7.0 google-auth-1.6.2 google-cloud-core-0.29.1
    google-cloud-firestore-0.31.0 google-cloud-storage-1.13.2
    google-resumable-media-0.3.2 googleapis-common-protos-1.5.6
    grpcio-1.18.0 msgpack-0.6.1 protobuf-3.6.1 pyasn1-0.4.5
    pyasn1-modules-0.2.4 rsa-4.0

# manage dates (for firestore queries): (uninstalled)
arrow==0.13.0

# plotting
matplotlib, mpld3

# interactive python within vscode
ipython==7.2.0
jupyter==1.0.0

# Interacting with dropbox
dropbox==9.3.0